
.slide-bg{
    background: #FCEAE8;
    padding: 50px;
    margin-top: 63px;
}
.bg-watch{
    background: #FFB926;
}
.bg-shoes{
    background: #FF428D;
}
.bg-bags{
    background: #403DFB;
}
.categories-img{
    width: 68.21px;
height: 90px;
}
.btn-sub{
    background: #FF3E8A;
    color: #fff;
}
.sub-bg{
    background: #FFF2F1;
    height: 300px;
}